<h1></h1>


<%= @odoo_object[:products] %>

<br><br><br><br>
<!--

<%# @odoo_object[:stocks].each do |obj| %>
  <p>Sotkc for </p>
  <%# obj.each do |k , v| %>
    <li><%#= k %>: <%#= v %></li>
  <%# end %>
<%# end %>
-->


<% @odoo_object[:stock_per_mag].each do |obj| %>
  <p>SOTCK PER MAG </p>
  <% obj.each do |k , v| %>
    <li><%= k %>: <%= v %></li>
  <% end %>
<% end %>
